<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Contacts</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="[ '/add' ]">Add</a>

    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/paspao" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/paspaola" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@pasquale.paola" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
