<div class="topnav">
  <a class="active">List of contacts</a>
</div>
<table style="width:100%; margin-top: 20px">
  <tr style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px; border: 1px solid black;">
    <th>Id</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Birth place</th>
    <th>Country</th>
    <th>Date of birth</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Phone number</th>
    <th>Address</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let ct of contacts | async">
    <td>
      {{ct.id}}
    </td>
    <td>
      {{ct.firstName}}
    </td>
    <td>
      {{ct.lastName}}
    </td>
    <td>
      {{ct.birthPlace}}
    </td>
    <td>
      {{ct.country}}
    </td>
    <td>
      {{ct.dateOfBirth}}
    </td>
    <td>
      {{ct.email}}
    </td>
    <td>
      {{ct.gender}}
    </td>
    <td>
      {{ct.phoneNumber}}
    </td>
    <td>
      {{ct.address}}
    </td>
    <td>
      <button (click)="delete(ct.id)" style="background-color: red; color: white">Delete</button>
    </td>
  </tr>
</table>
